 body {
 background-image: url("https://simonhanzal.github.io/fatigue/background.bmp");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: 50.1% 49.5%;
} 

.gap-stimulus {
    background-image: none;
    background-color: white;
   }
